{# to make sure that jinja doesn't replace jinja vars we want in the final
   template, mark this section as raw
#}
{% raw %}
{% extends "layout.html" %}

{% block jsheader %}
{% endblock %}

{% block body %}
<h1>Page Not Found!</h1>
<p>
The page you were looking for was not found. The valid pages are listed on 
<a href="{{ url_for('main.index') }}">the home page</a>.
</p>
{% endblock %}
{% endraw %}
