{# encapsulating jinja directives as variables so they get written to the final template #}
{{ '{% extends "layout.html" %}' }}

{{ '{% block body %}' }}
  <h1> {{ cookiecutter.repo_name }}</h1>

  <p>
  This is just an example page for the index
  </p>
{{ '{% endblock %}' }}

