{# to make sure that jinja doesn't replace jinja vars we want in the final
   template, mark this section as raw
#}
{% raw %}
<!doctype html>
<head>
    <meta charset="utf-8">

    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="{{ meta_author }}">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS: implied media=all -->
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <!-- end CSS-->

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block jsheader %}
    <script type="text/javascript">
    </script>
    {% endblock %}

</head>
{% endraw %}

<body>
    {{ '{% block body %}' }}
    <h1> {{ cookiecutter.repo_name }} Layout</h1>

    <p>
    This is just an example page if the layout is not overridden
    </p>
    {{ '{% endblock %}' }}
</body>
